html,body
{
	margin:0;
	padding:0;
	font-family:arial;
}

body
{
	background-color:#e1dad3;
}

#container
{
	width:60%;
	-moz-border-radius:15px;
	-border-radius:15px;
	-webkit-border-radius:15px;
	background:white;
	margin-left:15%;
	margin-top:2%;
	padding:10px;
}

#statusMsg
{
	width:60%;
	background:rgba(61, 148, 0, 0.6);
	color:white;
	margin-left:15%;
	padding:10px;
	font-family: 'Satisfy', cursive;
	display:none;
	font-size:1.2em;
}

#heading
{
	background:black;
	padding:5px;
	color:white;
	font-size: 1.3em;
}

#location
{
	color:#4d90fe;
	font-weight: bold;
	font-size:1.5em;
}

.weatherData
{
	background:#f9edbe;
	padding:5px;
	margin-top:5px;
}

input
{
	padding:3px;
	font-size:1em;
	margin-left:5%;
}

input[type=button]
{
	margin-left:3px;
}

.hellomsg
{
	font-size:1.4em;
	color:#dd4b39;
	font-family: 'Satisfy', cursive;
}